*.[oa]
*~
*.tar.gz
*.synctex.gz
*.pyc
*.aux
*.log
*.bbl
*.blg
*.out
**/bin/*
!**/bin/dum.md
*.DS_Store
*.dSYM
**/tmp_data/*
!**/tmp_data/dum.md
*.pdf
*.png
*.txt
*.jpg
**/raw_data/*
**/data*
*#
*.ipynb
*.pkl
*.rdf
*.lammpstrj
*.lammps.util
*.lammps.log
*.lammps
*.fixprint
*lmp.pll
*lmp.serial